@model CreateBuyerModel
@{
}
<h1>Register</h1>
<form method="post" >
    <div>
        <label asp-for="Buyer.Phone"></label>
        <input asp-for="Buyer.Phone" />
    </div>
    <div>
        <label asp-for="Buyer.Email"></label>
        <input asp-for="Buyer.Email" />
    </div>
    <div>
        <label asp-for="Buyer.Surname"></label>
        <input asp-for="Buyer.Surname" />
    </div>
    <div>
        <label asp-for="Buyer.Name"></label>
        <input asp-for="Buyer.Name" />
    </div>
    <div>
        <label asp-for="Buyer.Patronymic"></label>
        <input asp-for="Buyer.Patronymic" />
    </div>
    <div>
        <label asp-for="Buyer.Password"></label>
        <input asp-for="Buyer.Password" />
    </div>
    <button type="submit">Create Buyer</button>
</form>


