<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" context="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> ANI MALL</title>
    <link rel="stylesheet" href="~/css//site.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,900;1,900&display=swap" rel="stylesheet">
</head>

<body>
<div class="had">
    <h2 class="had">Корзина</h2>
    <div class="tovar">
        <table>
            <tr>
                <td><img class="icon-b" src="image/dog.png"></td>
                <td><span>Корм для кошек</span></td>
                <td><span>350,00р</span></td>
                <td><input /></td>
                <td><span>500p</span></td>
                <td><button>X</button></td>
            </tr>
        </table>
        <hr>
    </div>
    <div class="btn-oplata">
        <span>1999.00р</span>
        <button>Оплатить</button>
    </div>
</div>
</body>
</html>