<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" context="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> ANI MALL</title>
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,900;1,900&display=swap" rel="stylesheet">
</head>
<body>

    <section class="main">
        <div class="container">
            <div class="photo"><img src="image/image 23.png"></div>
            <div class="contact">
                <div class="contact_bar">
                    <h2>Контакты</h2>
                    <ul>
                        <li>+7 915 151 15 15</li>
                        <li>animall@gmail.com</li>
                        <li>Режим работы:8:00-22:00</li>
                        <li>Юр.адрес:123456, г.Казань, </li>
                        <li>ул.Большая Красная,д.55</li>
                    </ul>
                    <p>© 2024 Зоомагазин «ANI MALL»</p>
                </div>
            </div>
        </div>

    </section>

</body>
</html>
