<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" context="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> ANI MALL</title>
    <link rel="stylesheet" href="header.css">
    <link rel="stylesheet" href="main.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,900;1,900&display=swap" rel="stylesheet">
</head>
<body>
    <section class="Table">

        <aside class="Photo">
            <img src="~/css/Img/83e20b788bd1c17ae8d987c828b7ded9-PhotoRoom 1.png" class="images"></img>
        </aside>
        <ul class=register>
            <form method="post" asp-controller="Home" asp-action="LoginVerify">
                <div class="input-box">
                    <input type="email" name="Email" placeholder="Email" maxlength="30" required>
                </div>
                <div class="input-box">
                    <input type="password" name="Password" placeholder="Пароль" minlength="4" maxlength="20" required>
                </div>
                <div class="buttons">
                    <button type="submit">Войти</button>
                </div>
                <div class="href">
                    <a asp-controller="Home" asp-action="Registretion">Нет аккаунта?</a>
                </div>
            </form>
        </ul>
    </section>
    @if (!string.IsNullOrEmpty(ViewBag.ErrorMessage))
    {
        <script>
            alert('@Html.Raw(ViewBag.ErrorMessage)');
        </script>
    }
</body>
</html>