<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" context="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> ANI MALL</title>
    <link rel="stylesheet" href="header.css">
    <link rel="stylesheet" href="main.css">
    <style>
        * {
            margin: 0;
            padding: 0;
        }
        /* Header */
        p1 {
            font-family: "Montserrat", sans-serif;
            font: 1rem;
            color: #ffffff;
            font-size: calc(25px + 4vw);
            ;
        }

        .header {
            align-items: center;
            display: flex;
            justify-content: space-between;
        }

        .menu {
            margin-left: 2vw;
            margin-right: 30px;
            display: flex;
            list-style: none;
        }

            .menu li {
                margin-left: 2vw;
                font-size: calc(15px + 1vw)
            }

                .menu li a {
                    font-family: "Montserrat";
                    color: #FFFFFF;
                    text-decoration: none;
                    font-size: calc(10px + 1.5vw);
                }

                    .menu li a:hover {
                        color: #ABABAB
                    }

            .menu .icon .images {
                margin-left: calc(5px + 0.5vw);
                width: calc(14px + 1.4vw);
            }

            .menu .icon img:hover {
                filter: blur(4px)
            }

        Table {
            margin-top: 5%;
            justify-content: space-between;
        }

        .Photo {
            float: right;
        }

        .register {
            height: calc(100px + 29vw);
        }

        .input-box {
            margin-top: 1vw;
            margin-left: 7vw;
            height: 7%;
        }

            .input-box input {
                height: 100%;
                width: 20%;
                border: none;
                outline: none;
                border: 2px solid rgba(38, 37, 37, 0.345);
                border-radius: 40px;
                font-size: 16px;
                color: black;
                padding: 0px 45px 0px 15px;
            }

                .input-box input::placeholder {
                    color: black;
                }

        .buttons {
            width: 500px;
            margin-left: 14vw;
        }

            .buttons button {
                color: aliceblue;
                border-radius: 30px;
                border-width: 0px;
                background-color: #00B0BB;
                margin-top: 16px;
                height: 50px;
                width: 155px;
            }

            .buttons a {
                color: aliceblue;
                font-size: 16px;
                font-weight: bold;
                text-decoration: none;
            }

        .href {
            margin-top: 10px;
            width: 500px;
            margin-left: 14vw;
        }

            .href a {
                color: #00B0BB;
                font-size: 20px;
            }


        .footer {
            background-color: #373737;
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
        }

        .footer_wrap {
            padding: 30px;
            display: flex;
            justify-content: space-between;
        }

        .footer li {
            margin-top: 1vw;
            margin-left: 2vw;
            list-style-type: none;
        }

            .footer li p {
                font-family: "Montserrat", sans-serif;
                font-optical-sizing: auto;
                font-weight: 20;
                font-style: medium;
                color: #b4b4b4;
                font-size: calc(2px + 1vw);
            }

        .footer_wrap nav {
            margin-right: 30px;
        }

        .footer .icon {
            margin-left: 2vw;
        }

        .footer_wrap .images {
            width: 4vw;
            height: 4vw;
        }

            .footer_wrap .images:hover {
                background-color: #504e4e;
            }

        .footer_wrap nav p {
            margin-left: 6vw;
            margin-top: 1vw;
            color: #b4b4b4;
        }

        body {
            background: linear-gradient(-60deg, #ffffff00 0%, #ffffff00 18%, #81E1E7 18%, #81E1E7 70%, #ffffff00 70%, #ffffff00 100% ),linear-gradient(0deg, #ffffff00 0%, #ffffff00 80%, #00B0BB 80%, #00B0BB 100%), rgb(236, 234, 234);
            overflow: hidden; /*не убирать, убирает боковую полоску */
            height: 100vh;
        }</style>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,900;1,900&display=swap" rel="stylesheet">
</head>
<body>
    <section class="header_wrap" style="margin-top: -5px;">
        <header class="header">

            <nav><ul><p1>ANI MALL</p1></ul></nav>

            <nav>

                <ul class="menu">
                    <li><a href="#">Главная</a></li>
                    <li><a href="Catalog.html">Каталог</a></li>
                    <li><a href="Contacts.html">Контакты</a></li>
                    <a href="#" class="icon"> <img src="image/free-icon-shopping-bag-4903482 1 (1).png" class="images"></img></a>
                    <a href="file:///D:/Record/КАИ/РПМ/zooshop/AniMall/Registration.html" class="icon"><img src="image/free-icon-user-profile-2734847 1 (1).png" class="images"></img></a>
                </ul>
            </nav>
        </header>
    </section>
    <section class="Table">

        <aside class="Photo">
            <img src="image/free-icon-user-profile-2734847 1 (1).png" class="images"></img>
        </aside>
        <ul class=register>
            <div class="input-box">
                <input type="name" placeholder="Имя">
            </div>
            <div class="input-box">
                <input type="second_name" placeholder="Фамилия">
            </div>
            <div class="input-box">
                <input type="last_name" placeholder="Отчество">
            </div>
            <div class="input-box">
                <input type="number" placeholder="Телефон">
            </div>
            <div class="input-box">
                <input type="email" placeholder="Email">
            </div>
            <div class="input-box">
                <input type="password" placeholder="Пароль">
            </div>
            <div class="buttons">
                <button onclick="validate()"><p>Зарегистрироваться</p></button>
            </div>
            <div class="href">
                <a href="login.html">Уже есть аккаунт?</a>
            </div>
        </ul>


    </section>
    <section class="footer">
        <footer class="footer_wrap">
            <div>
                <ul>
                    <li><p>+7 915 151 15 15 Телефон горячей линии</p></li>
                    <li><p>Animal@gmail.com</p></li>
                    <li><p>ул.Большая Красная,д.55</p></li>
                </ul>

            </div>
            <div>
                <nav>
                    <a href="#" class="icon"> <img src="image/Rectangle 36.png" class="images"></img></a>
                    <a href="#" class="icon"> <img src="image/Rectangle 37 (1).png" class="images"></img></a>
                    <a href="#" class="icon"> <img src="image/Rectangle 38 (2).png" class="images"></img></a>
                    <a href="#" class="icon"> <img src="image/Rectangle 39 (1).png" class="images"></img></a>
                </nav>
                <nav>
                    <p>© 2024 Зоомагазин «ANI MALL»</p>
                </nav>
            </div>
        </footer>
    </section>
</body>
</html>