
<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - PetShopWeb</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/PetShopWeb.styles.css" asp-append-version="true" />
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,900;1,900&display=swap" rel="stylesheet">
</head>
<body>
    <header class="header">

        <nav><ul><p1>ANI MALL</p1></ul></nav>


        <nav>

            <ul class="menu">
                <li><a id="anchor" asp-controller="Home" asp-action="Index">Главная</a></li>
                <li><a class="menu-link" asp-controller="Home"asp-action="Catalog">Каталог</a></li>
                <li><a asp-controller="Home" asp-action="Contacts">Контакты</a></li>
                @{
                    if (User.Identity.IsAuthenticated)
                    {
                        <a asp-controller="Home" asp-action="Basket" class="icon"> <img src="~/css/Img/free-icon-shopping-bag-4903482 1.png" class="images"></img></a>
                    }
                    else
                    {
                        <a asp-controller="Home" asp-action="Registretion" class="icon"> <img src="~/css/Img/free-icon-shopping-bag-4903482 1.png" class="images"></img></a>
                    }
                    if (User.Identity.IsAuthenticated)
                    {
                        <a asp-controller="Account" asp-action="Account" class="icon"><img src="~/css/Img/free-icon-user-profile-2734847 1.png" class="images"></img></a>
                    }
                    else
                    {
                        <a asp-controller="Home" asp-action="Registretion" class="icon"><img src="~/css/Img/free-icon-user-profile-2734847 1.png" class="images"></img></a>
                    }
                }
            </ul>
        </nav>
    </header>
    @RenderBody()


            <footer class="footer_wrap footer">
                <div>
                    <ul>
                        <li><p>+7 915 151 15 15 Телефон горячей линии</p></li>
                        <li><p>Animal@gmail.com</p></li>
                        <li><p>ул.Большая Красная,д.55</p></li>
                    </ul>

                </div>
                <div>
                    <nav>
                        <a href="#" class="icon"> <img src="~/css/Img/Rectangle 36.png" class="images"></img></a>
                        <a href="#" class="icon"> <img src="~/css/Img/Rectangle 37.png" class="images"></img></a>
                        <a href="#" class="icon"> <img src="~/css//Img/Rectangle 38.png" class="images"></img></a>
                        <a href="#" class="icon"> <img src="~/css/Img/Rectangle 39.png" class="images"></img></a>
                    </nav>
                    <nav>
                        <p>© 2024 Зоомагазин «ANI MALL»</p>
                    </nav>
                </div>
            </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
