<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" context="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> ANI MALL</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,900;1,900&display=swap" rel="stylesheet">
</head>
<body>
    <section class="main">
        <div class="container">
            <div class="column">
                <div>
                    <input placeholder="Имя">
                </div>
                <div>
                    <input placeholder="Фамилия">
                </div>
                <div>
                    <input placeholder="Отчество">
                </div>
                <div>
                    <input placeholder="Телефон">
                </div>
                <div>
                    <input placeholder="Email">
                </div>
                <div class="buttons">
                    <form asp-controller="Account" asp-action="Logout" method="post">
                        <button type="submit">Выйти из аккаунта</button>
                    </form>
                </div>
            </div>
            <div class="column2">
                <div class="bonus-card">
                    <div class="line">
                    </div>
                    <div class="btwn">
                        <div class="ball">
                            <h2>250 Баллов</h2>

                            <div><p>Действует до 31.04</p></div>
                        </div>
                        <img src="image/Rectangle 39 (1).png" class="images"></img>
                    </div>
                </div>
            </div>

        </div>
    </section>
</body>
</html>