<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" context="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> ANI MALL</title>
    <link rel="stylesheet" href="Catalog.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,900;1,900&display=swap" rel="stylesheet">
</head>
<body>


    <section class="main">
        <p class="head">Каталог- Игрушки - Мячики,мышки</p>
        <div class="tovar">
            <img src="image/Rectangle 36.png">
            <div class="tovar_text">
                <p class="description">Trixie Игрушка для кошек Джутовый мячик Rattle, пластик, 5 см (3 шт)</p>
                <div class="feedback">
                    <p>Отзывы</p><p>Избранное</p>
                </div>
                <p class="price">1 200 ₽ <span class="bonus">+14 бонусов</span></p>
                <button class="button">В корзину</button>
            </div>
        </div>
        <div class="vanish"></div>
    </section>
</body>
</html>